In [1]:
# Define the function "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [2]:
# call the function
say_hello()

Hello!

In [3]:
# DEfing the function "say_something" so it prints whatever is passed by as the variable when called.
def say_something(something):
    print(something)

In [4]:
# call the function.
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane."
say_something(Jane_says)

Hi, my name is Jane.

In [7]:
# A list of my grades
my_grades = ['B','C','B','D']

In [8]:
# import pandas
import pandas as pd

# convert the my)grade to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [9]:
# map("current_value_1":"new_value_1", "current_value_2":"new_value_2",etc)
# map() function, using for substituting each value in series with another value.

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [10]:
# format() function used to format a value to a specific format, such as one or two decimal place, or adding thousands separator.
# "{value:format specification}".format(value)

# Using the format() fucntion
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [15]:
# covert the numberical grade to a series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# format the grade to the nearest whole number percent
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [19]:
# Reorder the columns in the order you want them to appear.
# new_column_order = ["column2", "column4", "column1"]

# Assign a new or the same DataFrame the new column order.
# df = df[new_column_order]